@model IEnumerable<DataLayer.User>

@{
    ViewBag.Title = "Index";
}
<h2 style="font-size: 22px">کاربران</h2>
@{
    <div class="breadcrum" id="breadcrum">
        <ol class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/Admin">صفحه اصلی</a>
            </li>
            <li class="active"> لیست کاربران</li>
        </ol>
    </div>
}
<hr />

<p>

    <a class="btn btn-success" href="/admin/Users/Create">
        افزودن کاربر جدید
    </a>
</p>
<table class="table table-hover">
    <tr class="active" >
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            <a class="btn btn-warning btn-sm" href="/admin/Users/Edit/@item.Id">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger btn-sm" onclick="Delete(@item.Id)">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </td>
    </tr>
}

</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" id="myModalBody">

            </div>

        </div>
    </div>
</div>
@section Scripts
{
    <script>
        function Delete(id) {
            $.get("/Admin/Users/Delete/" + id, function (res) {
                $("#myModal").modal();
                $("#myModalLabel").html("حذف کاربر");
                $("#myModalBody").html(res);
            });
        }
    </script>

}